@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
    --primary-dark: #20232A;
    --secondary-light: #F3F4F6;
    --secondary-light-two: #D1D5DB;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark);
    background-color: var(--secondary-light);
    height: 100vh;
}

/* MAIN DOCUMENT HEADER */
.title-header {
    color: var(--secondary-light);
    background-color: var(--primary-dark);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header h1 {
    padding: 0rem 1rem;
}

/* SIDE NAVIGATION */
#nav-bar {
    padding: 1rem;
    height: 100%;
    width: 20%;
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: var(--secondary-light-two);
}

ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:focus {
    outline: none;
}

/* MAIN DOCUMENT CONTENT */
