@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-dark: #20232A;
    --secondary-light: #F3F4F6;
    --secondary-light-two: #D1D5DB;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-dark);
    background-color: var(--secondary-light);
    height: 100vh;
}

hr {
    margin-right: 1rem;
}

/* MAIN DOCUMENT HEADER */
.title-header {
    color: var(--secondary-light);
    background-color: var(--primary-dark);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 280px;
}

.title-header h1 {
    padding: 0rem 1rem;
}

/* SIDE NAVIGATION */
#navbar {
    padding: 1rem;
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--secondary-light-two);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

#navbar header {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

ul {
    margin-left: 0.5rem;
}

#navbar ul li {
    list-style: none;
    margin: 0.5rem 0rem 0.5rem 2rem;
}

.nav-link {
    text-decoration: none;
}

.nav-link:focus {
    outline: none;
}

/* MAIN DOCUMENT CONTENT */
#main-doc {
    position: absolute;
    margin-left: 300px;
    padding: 2rem;
    text-align: justify;
}

article {
    margin: 1rem;
}

code {
    display: block;
    text-align: left;
    position: relative;
    white-space: pre-line;
    width: 90%;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: var(--secondary-light-two);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.main-section header {
    font-size: 2rem;
    font-weight: bold;
}

.main-section p {
    margin: 1rem 0rem;
}

.main-section ul li {
    margin: 1rem 0rem;
}